*, html {
    scroll-behavior: smooth !important;
}

main {
    position: relative;
}

body {
    background: linear-gradient(75deg, #0e0e0e, #131212, 
    #0b0b0a, #1d1c1b, #111111);
    background-size: 300% 300%;
    animation: gradient 30s ease infinite;
    margin: 0;
    overscroll-behavior: none;
    color: #F6F2F0;
    font-family: var(--satoshi);
    font-size: clamp(0.6rem, 1.4vw, 3rem);
    letter-spacing: 0.18em;
    height: 100vh;
    overflow-x: hidden;
    transition: all 0.9s;
}

    #wrapper {
        overflow-y: visible;
        overflow-x: hidden;
        perspective: 15px;
        height: 100vh;
        position: relative;
    }

        #nav-container {
            align-items: flex-end;
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            position: sticky;
            margin: 3%;
            top: 5%;
            z-index: 2;
        }

            nav {
                display: flex;
                flex-direction: column;
            }

                .nav-link {
                    margin-bottom: 3%;
                    text-align: right;
                }

                a:hover {
                    color: #F6F2F0;
                }


            #socials-container {
                display: flex;
                flex-direction: column;
                font-size: clamp(0.8rem, 2.5vw, 3rem);
            }

            a  {
                text-decoration: none;
                color: #a89c90;
            }

        #top {
            align-items: center;
            display: flex;
            flex-direction: column;
            position: relative;
            transform-style: preserve-3d;
            margin: 0 10% 0;
        }

            .boops {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                transition: all 0.9s;
            }

                #top-boops {
                    transform: translateZ(-10px) scale(2);
                }

                #top-tendrils1 {
                    transform: translateZ(-16px) scale(2.6);
                }

                #top-tendrils2 {
                    transform: translateZ(-18px) scale(2.8);
                }

            #name {
                width: 70%;
                margin-top: 15%;
                transform-style: preserve-3d;
            }

                h1 {
                    font-family: var(--koolegant);
                    font-size: clamp(3rem, 12vw, 10rem);
                    letter-spacing: 0.2em;
                    margin: 0;
                }

                h2 {
                    font-size: clamp(1.5rem, 4vw, 5rem);
                    margin: 0;
                }

            #mid-bio {
                font-size: clamp(0.8rem, 2.3vw, 3rem);
            }

        h3 {
            font-family: var(--koolegant);
            font-size: clamp(1rem, 2.5vw, 3rem);
            letter-spacing: 0.2em;
        }

        .content-area{
            margin: 3% 20% 10%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            line-height: 1.5em;
        }

            .about-me-p {
                margin-bottom: 3%;
            }

            #tech {
                margin-bottom: 15%;
            }

            #tech-stack-p {
                margin: 0;
            }

            .skill-icon-container {
                display: grid;
                grid-template-columns: 15% 15% 15% 15% 15% 15%;
                grid-template-rows: 120%;
                justify-items: center;
                gap: 2%;
            }

                .icon-name {
                    align-items: center;
                    display: flex;
                    position: absolute;
                    font-size: clamp(0.8rem, 1.4vw, 3rem);
                    padding-top: 2.5em;
                    margin-top: 6%;
                    opacity: 0;
                    text-align: center;
                }

                .icon-container {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    font-size: clamp(0.8rem, 4vw, 8rem);
                    transition: all 0.2s ease-in-out;
                }

                .icon-name:hover {
                    opacity: 1;
                }

        #projects {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 0;
        }

            #projects-title {
                display: flex;
                justify-content: flex-start;
                width: 100%;
            }

            .project-card-container {
                display: flex;
                align-items: flex-start;
                overflow-x: scroll;
                max-width: 47vw;
                gap: 5%;
                scroll-snap-type: x mandatory;
                scroll-padding: 5%;
                -ms-overflow-style: none; 
                scrollbar-width: none;
                z-index: 2;
                margin-top: 5%;
            }

            .project-card-container::-webkit-scrollbar {
                display: none;
            }

                .project-card-container .project-card {
                    scroll-snap-align: center;
                }

                    .project-card {
                        padding: 2% 3% 5%;
                        border-radius: 5px;
                        border-top: 1px solid transparent;
                        transition: all 0.3s ease-in-out;
                        min-height: 25vw;
                        max-height: 25vw;
                    }

                    .project-card:hover {
                        border-top: 1px solid #4a3f33;
                        background-color: #1d1c1b;
                    }

                        .project-card-content {
                            position: relative;
                            transition: transform 0.6s;
                            transform-style: preserve-3d;
                        }

                    .project-card:hover .project-card-content {
                        transform: rotateY(180deg);
                    }

                        .project-card-front, .project-card-back {
                            width: 100%;
                            height: 100%;
                            backface-visibility: hidden;
                        }

                            .project-img {
                                height: 17vw;
                                width: fit-content;
                                border-radius: 5px;
                            }

                        .project-card-back {
                            position: absolute;
                            top: 0;
                            left: 0;
                            transform: rotateY(180deg);
                            border-radius: 5px;
                        }

                            .project-description {
                                z-index: 2;
                                top: 0;
                                left: 0;
                                position: absolute;
                                padding: 1% 2%;
                                margin: 0;
                                font-size: clamp(0.4rem, 1.2vw, 1.3rem);
                                line-height: 1.45em;
                            }

                            .project-img-back {
                                filter: blur(10px);
                                transform: rotateY(180deg);
                            }

                            .darken {
                                filter: blur(15px) brightness(25%);
                            }

                            .project-link-container, .repo-link {
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                            }

                            .project-link {
                                margin-right: 1%;
                                margin-bottom: 0%;    
                                font-size: clamp(0.6rem, 1.4vw, 3rem);
                            }

                            .tech-container {
                                display: flex;
                                flex-direction: row;
                                flex-wrap: wrap;
                                min-width: 18vw;
                                max-width: 18vw;
                                gap: 3%;
                            }

                                .tech-label {
                                    background-color: #292520;
                                    padding: 0.05em 0.5em;
                                    border-radius: 1em;
                                    font-size: clamp(0.3rem, 0.7vw, 1rem);
                                    letter-spacing: 0.1em;
                                    width: fit-content;
                                    margin: 2% 0;
                                }

                        .project-card-bottom {
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            align-items: center;
                        }

                            .repo-label {
                                font-size: clamp(0.5rem, 1.2vw, 1rem);
                                padding-right: 2%;
                                width: 100%;
                            }

        #contact {
            margin: 5% 0 0;
            position: relative;
            transform-style: preserve-3d;
            width: 100%;
            padding-top: 5%;
        }

        #contact-contents {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 20%;
        }

            #contact-h3 {
                display: flex;
                align-items: center;
                margin: 0 20%;
            }

                #email-icon {
                    margin-left: 2%;
                }

            .contact-form {
                margin: 8% 5% 5%;
                padding: 1% 5%;
                border-top: 1px solid #4a3f33;
                background-color: #1d1c1b;
                display: flex;
                flex-direction: column;
                border-radius: 5px;
                min-width: 50%;
                max-width: 50%;
            }

                .form-div{
                    margin: 3% 0 1%;
                }

                .form-label {
                    padding: 5% 0;
                }

                .form-input, textarea {
                    background-color: transparent;
                    color: #F6F2F0;
                    font-size: clamp(0.7rem, 1.1vw, 1.3rem);
                    padding: 0.6em;
                    border-radius: 10px;
                    border: 1px solid #4a3f33;
                    font-family: inherit;
                    letter-spacing: 0.1em;
                    width: 95%;
                }

                textarea {
                    height: 5vw;
                    resize: none;
                }

                .form-input:focus, textarea:focus {
                    outline: none;
                    border-color: #988570;
                }

                .form-submit {
                    border: 1px solid #4a3f33;
                    background-color: #2e2c29;
                    width: 10vw;
                    font-family: inherit;
                    color: #F6F2F0;
                    font-size: inherit;
                    margin: 5% 0;
                    padding: 2%;
                    border-radius: 10px;
                    letter-spacing: inherit;
                }

                    .form-submit:hover {
                        border-color: #988570;
                        background-color: #3f3c39;
                        cursor: pointer;
                    }

                .submit-confirmation {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    position: absolute;
                    top: 12%;
                    left: 33%;
                    font-size: clamp(0.5rem, 1.15vw, 3rem);
                }

                    .submit-icon {
                        font-size: clamp(0.5rem, 1.8vw, 3rem);
                    }

                .email-input {
                    margin-bottom: 8%;
                }

                #email-message {
                    position: absolute;
                    top: 42%;
                    font-size: clamp(0.4rem, 1vw, 3rem);
                    color: #625446;
                    z-index: 3;
                }

        .bot-boops {
            width: 100%;
            height: 100%;
            position: absolute;
            top: -35%;
            z-index: -1;
        }

            #bot-boops {
                transform: translateZ(-8px) translateY(-80px) scale(1.5);
            }

            #bot-tendrils1 {
                transform: translateZ(-12px) scale(1.8);
            }

            #bot-tendrils2 {
                transform: translateZ(-16px) scale(2.1);
            }

    #credit-text {
        font-size: clamp(0.5rem, 1vw, 1rem);
        color: #625446;
        position: absolute;
        bottom: -20%;
        padding: 0 5%;
    }

.glowing-cursor {
    position: fixed;
    width: 1px;
    height: 1px;
    box-shadow: 0px 0px 180px 100px rgba(236, 195, 159, 0.035); 
    border-radius: 50%;
    pointer-events: none;
    z-index: -1;
}

.react-icon:hover {
    color: #61DBFB;
}

.next-icon:hover, .express-icon:hover {
    color: #adb5bd;
}

.js-icon:hover {
    color: #f0db4f;
}

.git-icon:hover {
    color: #f34f29;
}

.html-icon:hover {
    color: #f06529;
}

.css-icon:hover {
    color: #264de4;
}

.node-icon:hover {
    color: #68a063;
}

.mongo-icon:hover {
    color: #00ED64;
}

.python-icon:hover {
    color: #4B8BBE;
}

.django-icon:hover {
    color: #154c37;
}

.post-icon:hover {
    color: #336791;
}

@media screen and (max-width: 1105px) {
    .boops {
        top: -20%;
    }
}

@media screen and (max-width: 882px) {
    .boops {
        top: -45%;
    }

    .project-card-container {
        min-height: 45vw;
    }

        .project-card {
            min-height: 29vw;
        }

    #email-message {
        top: 43%;
    }
}

@media screen and (max-width: 643px) {
    .boops {
        top: -75%;
    }

    .project-card-container {
        min-height: 45vw;
    }

        .project-card {
            min-height: 36vw;
        }

        .project-img {
            height: 20vw;
        }

    .contact-form {
        min-width: 70%;
        max-width: 70%;
    }

    #email-message {
        top: 42%;
    }

    .submit-confirmation {
        top: 10%;
        left: 30%;
    }
}

@media screen and (max-width: 530px) {
    .boops {
        top: -90%;
    }

    nav, #socials-container {
        display: none;
    }

    .project-card-container {
        min-height: 75vw;
    }

        .project-card {
            min-height: 51vw;
        }

        .form-input, textarea {
            width: 90%;
            font-size: clamp(0.4rem, 0.2vw, 1.3rem);
            border-radius: 0.5em;
        }

            .form-label {
                    font-size: clamp(0.4rem, 1.4vw, 3rem);
                }

            .form-submit {
                font-size: clamp(0.4rem, 1.4vw, 3rem);
            }

            #email-message {
                top: 32%;
            }
}

@media screen and (max-width: 530px) { 
    .project-card-container {
        max-width: 65vw;
    }
    
    .project-card {
        min-height: 59vw;
    }

        .project-link-container {
            margin-top: 10%
        }

        .project-img {
            height: 27vw;
        }

        #email-message {
            top: 37%;
        }

        .submit-confirmation {
            top: 8%;
            left: 25%;
        }
}

@media screen and (max-width: 530px) {
    #email-message {
        top: 36%;
    }

    .submit-confirmation {
        top: -10%;
        left: 20%;
    }
}
                    

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}