@font-face {
  font-family: 'Koolegant';
  src: url('/fonts/Koolegant.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

*,
html {
  scroll-behavior: smooth !important;
}

:root {
  --white: #F6F2F0;
  --beige-1: #a89c90;
  --beige-2: #988570;
  --beige-3: #625446;
  --brown: #4a3f33;
  --brown-2: #2e2c29;
  --brown-3: #3f3c39;
  --dark-brown-1: #1d1c1b;
  --dark-brown-2: #292520;
  --black-1: #0e0e0e;
  --black-2: #131212;
  --black-3: #0b0b0a;
  --black-4: #111111;
}

main {
  position: relative;
}

body {
  background: linear-gradient(75deg, var(--black-1), var(--black-2),
      var(--black-3), var(--dark-brown-1), var(--black-4));
  background-size: 300% 300%;
  animation: gradient 30s ease infinite;
  margin: 0;
  overscroll-behavior: none;
  color: var(--white);
  font-family: 'Satoshi', sans-serif;
  font-size: clamp(1rem, 1.8vw, 1.4rem);
  letter-spacing: 0.15em;
  height: 100vh;
  overflow-x: hidden;
  transition: all 0.9s;
}

#parallax-wrapper {
  overflow-y: visible;
  overflow-x: hidden;
  perspective: 15px;
  height: 100vh;
  position: relative;
}


/* ------ Nav ------- */


#nav-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  position: sticky;
  margin: 3%;
  top: 5%;
  z-index: 2;
}

nav {
  display: flex;
  flex-direction: column;
}

.nav-link {
  margin-bottom: 3%;
  text-align: right;
}

a {
  text-decoration: none;
  color: var(--beige-1);
}

a:hover {
  color: var(--white);
}


#socials-container {
  display: flex;
  flex-direction: column;
  font-size: clamp(0.8rem, 2.5vw, 3rem);
  justify-content: flex-end;
}


/* ------ Top of the page ------- */


#top {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  position: relative;
  transform-style: preserve-3d;
  margin: 0 10% 0;
}

.parallax-boops {
  width: 100%;
  height: 100%;
  position: absolute;
  top: -5%;
  left: 0;
  z-index: -1;
  transition: all 0.9s;
}

#parallax-top-boops {
  -ms-transform: translateZ(-10px) scale(2);
  -webkit-transform: translateZ(-10px) scale(2);
  -moz-transform: translateZ(-10px) scale(2);
  -o-transform: translateZ(-10px) scale(2);
  transform: translateZ(-10px) scale(2);
}

#parallax-top-tendrils1 {
  -ms-transform: translateZ(-15px) scale(2.6);
  -webkit-transform: translateZ(-15px) scale(2.6);
  -moz-transform: translateZ(-15px) scale(2.6);
  -o-transform: translateZ(-15px) scale(2.6);
  transform: translateZ(-15px) scale(2.6);
}

#parallax-top-tendrils2 {
  -ms-transform: translateZ(-17px) scale(2.8);
  -webkit-transform: translateZ(-17px) scale(2.8);
  -moz-transform: translateZ(-17px) scale(2.8);
  -o-transform: translateZ(-17px) scale(2.8);
  transform: translateZ(-17px) scale(2.8);
}

#name {
  width: 70%;
  margin-top: 15%;
  transform-style: preserve-3d;
}

h1 {
  font-family: 'Koolegant', sans-serif;
  font-size: clamp(3rem, 12vw, 10rem);
  letter-spacing: 0.2em;
  margin: 0;
}

h2 {
  font-size: clamp(1.5rem, 4vw, 5rem);
  margin: 0;
}

#mid-bio {
  font-size: clamp(0.8rem, 3vw, 4rem);
  margin: 0;
}


/* ------ Content Areas ------- */


.content-area {
  margin: 5% 20% 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.5em;
}

h3 {
  font-family: 'Koolegant', sans-serif;
  font-size: clamp(1.4rem, 4vw, 3rem);
  letter-spacing: 0.2em;
}

.about-me-p {
  margin-bottom: 3%;
}


/* ------ Tech Section  ------- */


#tech {
  margin-bottom: 10%;
}

#tech-stack-p {
  margin: 0;
}

.skill-icon-container {
  margin-top: 5%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.icon-name {
  align-items: center;
  display: flex;
  margin-top: 7%;
  text-align: center;
  font-size: clamp(0.8rem, 1.4vw, 3rem);
}

.tech-pair-container {
  display: flex;
  border: 1px solid green;
  width: fit-content;
}

.icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: clamp(0.8rem, 5vw, 4rem);
  justify-content: center;
  margin: 2% 6%;
  width: fit-content;
}

/* ------ Projects Section ------- */

#projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0;
}

#projects-title {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.project-card-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  z-index: 2;
  margin-top: 5%;
}

.project-card {
  border-radius: 5px;
  border-top: 1px solid transparent;
  width: fit-content;
  display: flex;
  margin-bottom: 3%;
  padding: 2%;
}

.project-card:hover {
  border-top: 1px solid var(--brown);
  background-color: var(--dark-brown-1);
}

.project-card-left {
  position: relative;
  padding: 1%;
}

.project-img {
  height: 17vw;
  width: fit-content;
  border-radius: 5px;
}

.tech-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3%;
}

.tech-label {
  background-color: var(--dark-brown-2);
  padding: 0.05em 0.5em;
  border-radius: 1em;
  font-size: clamp(0.8rem, 0.9vw, 1rem);
  letter-spacing: 0.1em;
  width: fit-content;
  margin: 2% 0;
}

.project-card-right-top {
  width: 100%;
}

.project-link-container,
.repo-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  height: fit-content;
}

.project-link {
  margin: 2%;
  font-size: clamp(1.2rem, 1.5vw, 3rem);
}

.project-description {
  padding: 0 3% 3%;
  margin: 0;
  font-size: clamp(1rem, 1.25vw, 2rem);
  line-height: 1.4em;
}

.project-card-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-date {
  font-size: clamp(0.8rem, 1vw, 1rem);
  line-height: 1.3em;
  letter-spacing: 0.2em;
  padding-left: 3%;
}

.repo-link {
  padding-right: 3%;
}

.repo-label {
  font-size: clamp(0.8rem, 1.1vw, 1rem);
  padding-right: 2%;
  width: 100%;
  margin: 0;
}


/* ------ Contact Section ------- */


#contact {
  margin: 0;
  position: relative;
  transform-style: preserve-3d;
  width: 100%;
  padding-top: 5%;
}

#contact-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20%;
}

#contact-h3 {
  display: flex;
  align-items: center;
  margin: 0 20%;
}

#email-icon {
  margin-left: 2%;
}

/* ------ Contact Form ------- */

.contact-form {
  margin: 0 5% 5%;
  padding: 1% 5%;
  border-top: 1px solid var(--brown);
  background-color: var(--dark-brown-1);
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  min-width: 50%;
  max-width: 50%;
}

.form-div {
  margin: 3% 0 1%;
}

.form-label {
  padding: 5% 0;
}

.form-input,
textarea {
  background-color: transparent;
  color: var(--white);
  font-size: clamp(0.7rem, 1.1vw, 1.3rem);
  padding: 0.6em;
  border-radius: 10px;
  border: 1px solid var(--brown);
  font-family: inherit;
  letter-spacing: 0.1em;
  width: 95%;
}

textarea {
  height: 5vw;
  resize: none;
}

.form-input:focus,
textarea:focus {
  outline: none;
  border-color: var(--beige-2);
}

.form-submit {
  border: 1px solid var(--brown);
  background-color: var(--brown-2);
  width: 6em;
  font-family: inherit;
  color: var(--white);
  font-size: inherit;
  margin: 5% 0;
  padding: 2%;
  border-radius: 10px;
  letter-spacing: inherit;
}

.form-submit:hover {
  border-color: var(--beige-2);
  background-color: var(--brown-3);
  cursor: pointer;
}

.submit-confirmation {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: clamp(0.8rem, 1.15vw, 3rem);
  margin-top: 2%;
}

.submit-icon {
  font-size: clamp(0.8rem, 1.8vw, 3rem);
}

.confirmation-msg {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.confirmation-txt {
  margin: 0;
}

#email-message {
  font-size: clamp(0.8rem, 1vw, 3rem);
  color: var(--beige-3);
  z-index: 3;
  margin: 0;
}

.place-holder {
  visibility: hidden;
}


/* ------ Bottom Parallax ------- */


.parallax-bot-boops {
  width: 100%;
  height: 100%;
  position: absolute;
  top: -35%;
  z-index: -1;
}

#parallax-bot-boops {
  -ms-transform: translateZ(-8px) translateY(-80px) scale(1.5);
  -webkit-transform: translateZ(-8px) translateY(-80px) scale(1.5);
  -moz-transform: translateZ(-8px) translateY(-80px) scale(1.5);
  -o-transform: translateZ(-8px) translateY(-80px) scale(1.5);
  transform: translateZ(-8px) translateY(-80px) scale(1.5);
}

#parallax-bot-tendrils1 {
  -ms-transform: translateZ(-12px) scale(1.8);
  -webkit-transform: translateZ(-12px) scale(1.8);
  -moz-transform: translateZ(-12px) scale(1.8);
  -o-transform: translateZ(-12px) scale(1.8);
  transform: translateZ(-12px) scale(1.8);
}

#parallax-bot-tendrils2 {
  -ms-transform: translateZ(-16px) scale(2.1);
  -webkit-transform: translateZ(-16px) scale(2.1);
  -moz-transform: translateZ(-16px) scale(2.1);
  -o-transform: translateZ(-16px) scale(2.1);
  transform: translateZ(-16px) scale(2.1);
}

#credit-text {
  font-size: clamp(0.8rem, 1vw, 1rem);
  color: var(--beige-3);
  position: absolute;
  bottom: -20%;
  padding: 0;
  text-align: center;
  width: 100%;
}


/* ------ GLowing Cursor ------- */


.glowing-cursor {
  position: fixed;
  width: 1px;
  height: 1px;
  box-shadow: 0px 0px 180px 100px rgba(197, 152, 113, 0.085);
  border-radius: 50%;
  pointer-events: none;
  z-index: -1;
}


/* ------ Media Queries ------- */


@media screen and (max-width: 1205px) {
  .parallax-boops {
    top: -15%;
  }
}

@media screen and (max-width: 1105px) {
  .parallax-boops {
    top: -35%;
  }

  #projects {
    margin-top: 10%;
  }

  .project-card {
    border-top: 1px solid var(--brown);
    background-color: var(--dark-brown-1);
    flex-direction: column-reverse;
    margin-bottom: 5%;
  }


  h4 {
    margin: 3% 0 3%;
  }

  .project-card-left {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .project-img {
    height: 30vw;
  }

  .tech-container {
    width: 100%;
    padding: 3% 0 0 5%;
  }
}

@media screen and (max-width: 882px) {
  .parallax-boops {
    top: -60%;
  }


  #email-message {
    top: 43%;
  }
}

@media screen and (max-width: 768px) {
  body {
    font-size: clamp(1rem, 3vw, 3rem);
    letter-spacing: 0.12em;
  }

  .mobile-hide {
    display: none;
  }

  .parallax-boops {
    top: -145%;
  }

  #top {
    margin: 0 5% 0;
  }

  #name {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  h1 {
    font-size: clamp(5rem, 19vw, 10rem);
  }

  h2 {
    font-size: clamp(2rem, 8vw, 4rem)
  }

  h3 {
    font-size: clamp(2rem, 5vw, 3rem);
    margin: 10% 0 5%;
  }

  #mid-bio {
    font-size: clamp(1rem, 5vw, 3rem);
    margin-top: 0;
  }

  nav,
  #socials-container {
    display: none;
  }

  .content-area {
    margin: 10% 5% 10%;
    letter-spacing: 0.14em;
    line-height: 1.5em;
  }

  .icon-container {
    font-size: clamp(2rem, 7vw, 3.3rem);
  }

  #projects {
    margin-top: 10%;
  }

  .project-card {
    border-top: 1px solid var(--brown);
    background-color: var(--dark-brown-1);
    flex-direction: column-reverse;
    margin-bottom: 5%;
  }


  h4 {
    margin: 3% 0 3%;
  }

  .project-card-left {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .project-img {
    height: 50vw;
    width: 100%;
  }

  .tech-container {
    width: 100%;
    padding: 3% 0 0 5%;
  }

  #email-message {
    top: 37%;
  }

  #contact {
    margin-top: 5%;
  }

  #contact-contents {
    margin: 0 5%;
  }

  .submit-confirmation {
    top: 8%;
    left: 25%;
  }

  .form-input,
  textarea {
    width: 90%;
    font-size: clamp(1rem, 0.2vw, 1.3rem);
    border-radius: 0.5em;
  }

  .form-label {
    font-size: clamp(1rem, 1.4vw, 3rem);
  }

  .form-submit {
    font-size: clamp(1rem, 1.4vw, 3rem);
  }

  #email-message {
    top: 32%;
  }

  .contact-form {
    min-width: 80%;
    max-width: 80%;
  }

  #email-message {
    top: 36%;
  }

  .submit-confirmation {
    top: -10%;
    left: 20%;
  }

  #credit-text {
    font-size: clamp(0.7rem, 2.5vw, 1.2rem);
  }

  .glowing-cursor {
    visibility: hidden;
  }
}


@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}